@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500;700;900&display=swap');
* {
	margin:0;
	padding: 0px;
	font-family: 'Arima', sans-serif;
	box-sizing: border-box;
}
a {
	position: relative;
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
}
a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	background: #fff;
	transition: 0.5s;
}
a:hover::before {
	width: 100%;
}
button {
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0px 10px;
	padding: 10px 15px;
	border-radius: 5px;
	color: #fff;
	transition: 0.5s;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.8);
	background: rgba(9,9,121,0.1);
	text-transform: uppercase;
}
button:hover {
	background: rgba(9,9,121,0.8);
}
header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	padding: 20px 50px;
	align-items: center;
	justify-content: space-between;
	background: rgba(9,9,121,0.9);
}

header .logo
header nav ,
.txt,
.imgbox ,
.social,
.container,
.container .card {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
header .logo strong {
	color: #fff;
	font-size: 1.5rem;
}
header nav a{
	color: #fff;
}

section {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	padding: 50px;
	min-height: 100vh; 
	align-items: center;
	justify-content: center;
}
.beforeTheFold {
	background: linear-gradient(45deg, rgba(0,212,255,1) 0%, 
		rgba(9,9,121,1) 55%, 
		rgba(2,0,36,1) 100%);
}
section .txt {
	flex-direction: column;
}
section .txt h1 {
	color: transparent;
	font-size: 5em;
	text-align: center;
	-webkit-text-stroke: 2px #fff;
}
section .txt h3 {
	color: #fff;
}
.imgbox {
	width: 30%;
}
.imgbox img {
	width: 100%;
	object-fit: contain;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
}
.social {
	gap: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15%;
	padding: 10px 0px;
	background: #fff;
}

.Reasons,
.Testimonials {
	gap: 50px;
	flex-direction: column;
}

.txt h1 {
	background: #373789;
	background: repeating-radial-gradient(ellipse farthest-corner at center center, #373789 0%, #00D4FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.container {
	gap: 50px;
}
.container .card {
	width: 45%;
	text-align: justify;
	padding: 20px;
	transition: 0.5s;
	border-bottom: 1px solid #373789;
}
.container .card ion-icon {
	font-size: 2rem;
	color: #fff;
	padding: 10px;
	border-radius: 20px;
	background: repeating-radial-gradient(ellipse farthest-corner at center center, #373789 0%, #00D4FF 100%);
}

@media (max-width: 900px) {
	section {
		gap: 50px;
		padding: 100px 20px;
		flex-direction: column;
	}
	header {
		padding: 10px;
	}
	section .txt h1 {
		font-size: 3rem;
	}
	section .txt h3 {
		font-size: 0.8rem;
	}
	.Reasons .container .card  {
		width: 100%;
		flex-direction: column;
	}
	section .txt {	
		width: 100%;
		text-align: center;
		align-items: center;
	}
	section .imgbox {
		width: 100%;
	}
	header nav {
		display: none;	
	}

}