@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
	margin: 0;
	padding: 0;
	transition: 0.5s;
	box-sizing: border-box;
	font-family: 'Bebas Neue', cursive;
}
header {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 1;
	width: 100%;
	padding: 10px;
	display: flex;
	transition: 0.5s;
	background: #1b1b1b;
	align-items: center;
	justify-content: space-between;
}
section {
	position: relative;
	gap: 30px;
	top: 0%;
	left: 0%;
	width: 100%;
	padding: 50px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.imgbox {
	gap: 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.imgbox img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: 5px solid #47A59F;
}
.imgbox img {
	background: linear-gradient(145deg, #e6e6e6, #ffffff);
	box-shadow:  5px 5px 9px #666666,
             -5px -5px 9px #ffffff;
}
a {
	position: relative;
	color: #000;
	text-align: center;
	padding: 5px 10px;
	margin: 0px 10px;
	text-decoration: none;
}
a::before  {
	position: absolute;
	content: '';
	left: 0%;
	bottom: 0%;
	width: 0%;
	height: 2px;
	transition: 0.5s;
	border-radius: 20px;
	background: #47A59F;
}
a:hover::before  {
	width: 100%;
}
ion-icon {
	font-size: 2rem;
}
header nav {
	transition: 0.5s;
}
header nav a{
	color: #fff;
}
header .title a  {
	color: #fff;
	font-size: 2rem;
}
header nav a:nth-child(3) {
	color: #ffffff;
	background: #47A59F;
}
.menuToggler {
	display: none;
	width: 50px;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,0.1)
}
.menuToggler span {
	position: relative;
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background: #fff;	
}
.menuToggler span::before ,
.menuToggler span::after  {
	content: '';
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	height: 5px;
	background: #fff;
	border-radius: 5px;
}
.menuToggler span::after {
	bottom: -10px;
}
.caption {
	display: flex;
	color: #1b1b1b;
	text-align: center;
	transition: 0.5s;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.caption span,
.title2 h1 {
	color: #1b1b1b;
	display: flex;
	font-size: 10rem;
	text-align: center;
	align-items: center;
	transition: 0.5s;
	flex-direction: column;
	justify-content: center;
}
.title2 h1 span:nth-child(odd) {
	color: #47A59F;
}
.container {
	gap: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.txt {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;

}
.txt p {
	text-align: center;
	line-height: 25px;
	width: 50%;
}
.txt a {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}