@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500;700;900&display=swap');
* {
	margin:0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Arima';
	text-align: center;
	/*animation: see 10s ease-in-out 1;*/
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------  header section -------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	padding:10px 20px;
	display: flex;
	align-items: center;
	background: rgba(117, 87, 240, 0.3); 	
	justify-content: space-between;
}
header nav,
header .title,
section .imgbox {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .title h2 {
	color: #7557F0;
	font-weight: 900;
	font-size: 1.5rem;
}
header nav a ,
section .head a {
	color: #fff;
	font-weight: 500;
	display: inline-block;
	border-radius: 20px;
	padding: 5px 15px;
	text-decoration: none;
	background: #9E89F5;
}
section .head a:hover,
header nav a:hover {
	background: #523DA8;
}
section {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	padding: 50px;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@keyframes see {
	0%{
		transform: scale(1);
	}
	20% {
		transform: scale(0);
	}
	40% {
		transform: scale(0.9);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
section .head h1 {
	color: #523DA8;
	font-size: 2rem;
}
section .head p {
	color: #523DA8;
	font-size: 1.2rem;
}
section .imgbox img {
	transition: 0.5s;
	filter: drop-shadow(20px 20px 100px #523DA8);
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

@media (max-width: 900px ) {
	section,
	header nav,
	header .title,
	section .imgbox {
		padding: 5px;
		flex-direction: column;
	}
	section {
		padding: 100px 20px;
	}
	section .imgbox {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	section .imgbox img {
		width: 100%;
		height: 100%;
		object-fit: contain; 	
	}
	header nav {
		display: none;
	}
}